# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
dist/
*.tsbuildinfo

# Environnement & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

#Logs & Debug
logs/
*.log
*.log.*
pids/
*.pid
*.seed
*.pid.lock
coverage/
nyc_output/

#Docker
docker-compose.override.yml
docker-compose.override.yaml
.dockerignore

#IDE / OS / Éditeurs
.vscode/
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

#Tests & Coverage
jest/
*.lcov

#Prometheus & Grafana
prometheus_data/
grafana_data/

#Mongoose
.mongod.lock
data/db/
dump/

#RabbitMQ
rabbitmq_data/